<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Sign Recognition</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <h4>AI Sign Recognition</h4>
      </div>
      <ul class="nav-links">
        <li><a href="/hand_gesture">Hand Gesture </a></li>
        <li><a href="/isl">ISL Detection</a></li>
        <li><a href="/traffic_sign">Traffic Sign Recognition</a></li>
      </ul>
    </nav>
    <div class="image">
        <img src="/static/img/bg.png" alt="" srcset="">
    </div>
    <div class="container">
      <div class="main">
        <h1>Sign Recognition</h1>
        <p>
          AI Sign Recognition is a web application that uses machine learning to
          recognize hand gestures, Indian Sign Language (ISL) and traffic signs.
          It uses Convolutional Neural Networks (CNN) to classify the images.
          The application is built using Flask, a Python web framework.
        </p>
        <p>
          Click on the links in the navigation bar to try out the different
          features of the application.
        </p>
      </div>
    </div>
  </body>
</html>
